include CHANGES LICENSE AUTHORS README.md
recursive-include teflo_terraform_plugin/files *
recursive-include teflo_terraform_plugin/templates *
exclude setup.cfg
prune docs/
prune tests/.cache
prune .git
prune .gitignore
include teflo_terraform_plugin/terraform_cli/*
include scripts/*

